{% extends "header_footer.html" %}



{% block content %}

<script>
        // passing in the old_selections from the database to a javascript list
        var old_selections = {{ old_selections|tojson }};
        
</script>

<div class="container" id="maincontent" >

    <h2> Hello, {{ current_user.username }} </h2>

    <div id="calendar" class="container" >

    </div>

    <div style="padding-top:50%;">
        TO DO:
        <ul>
            <li>
                Display the max days selected on the page
            </li>
            <li>
                Fix config files in both projects. Use a json file to load variables, or use environment variables.
            </li>
            <li>
                Created problem with month changes. Needs thought including the database pulls/pushes...
            </li>
            <li>
                The user interface is pretty bad. Needs redesign.
            </li>
            
            <li>BUG: dates added to the array that are greyed/out of the 
                current month are not right.
            </li>
 
            </ul>

    </div>


</div>

<script src="{{ url_for('static',filename='scripts/calendarScripts.js') }}"></script>

{% endblock %}



<!-- TODO: COPY ME-->