{% extends "header_footer.html" %}



{% block content %}


<div class="container" id="maincontent" >

    <h2> Hello, {{ current_user.username }} </h2>

    <div id="calendar" class="container" >

    </div>

    <div style="padding-top:50%;">
        TO DO:
        <ul>
            <li>
                Download the bootstrap stuff and store it locally, so offline work is possible.
            </li>
            <li>
                The save button does nothing. Notes in myScripts file on path forward.
                Need database integration.
            </li>
            <li>
                The user interface is pretty bad. Needs redesign.
            </li>
            
            <li>BUG: dates added to the array that are greyed/out of the 
                current month are not right.
            </li>
            <li>BUG: the month changes breakdown at April. Needs investigating.</li>
 
            </ul>

    </div>


</div>


{% endblock %}



<!-- TODO: COPY ME-->